[user]
	name = Aadi
	signingkey = /Users/charon/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[include]
  path = ~/.gitconfig.private
[maintenance]
	repo = /Users/charon/.zsh-plugins/ajeetdsouza/zoxide
	repo = /Users/charon/.zsh-plugins/zsh-users/zsh-autosuggestions
	repo = /Users/charon/.zsh-plugins/zsh-users/zsh-syntax-highlighting
[coderabbit]
	machineId = cli/b696043e7ff24d79a3da23e9a083f6c1
